<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<appenders>
		<Console  name="CONSOLE" >
			<PatternLayout pattern="%d{DD-MM-YYYY HH:mm:SS} [%t] %highlights{%5p} %c{1}::%M()-%L - %m%n"/>		
		</Console>	
		<File  name="FileAppender" fileName="logs/application.log" >
			<PatternLayout pattern="%d{DD-MM-YYYY HH:mm:SS} [%t] %highlights{%5p} %c{1}::%M()-%L - %m%n"/>		
		</File>	
	</appenders>

	<loggers>
		<root level="INFO">
			<AppenderRef ref="CONSOLE"/>		
			<AppenderRef ref="FileAppender"/>		
		</root>	
	</loggers>

</configuration>

